* {
  color: whitesmoke;
  font-family: "Squada One", cursive;
}
.black {
  color: rgba(0, 0, 0, 0.747);
}
.under {
  text-decoration: underline;
}

li {
  list-style-type: none;
  padding: 0px;
  /* color: rgba(0, 0, 0, 0.747); */
}

body {
  background-color: rgb(18, 18, 32);
  justify-content: center;
  align-items: center;
  /* height: 700px; */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  justify-content: center;
  background-color: rgb(22, 22, 22);
}
nav {
  justify-content: center;
  align-items: center;
}
main {
  /* margin-top: 100px; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main h2 {
  margin: 5px auto;
}
main h3 {
  border: 1px solid rgba(255, 255, 255, 0.315);
  padding: 4px;
}
main p {
  text-align: center;
}
p {
  text-align: center;
}
.areaforheader {
  height: 7vh;
  /* width: 100vw; */
}

.navitem {
  margin: 0 40px;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
}
.sign {
  position: fixed;
  left: 4vw;
  top: 30px;
  width: 120px;
  /* margin: 43px 60px; */
}
.undersign{
  position: fixed;
  left: 4vw;
  top: 87px;
  font-family: 'Yellowtail', cursive;
  background-color: rgba(0, 0, 0, 0.575);
  border-radius: 5px;
  padding: 3px;

}
.KeeneWong {
  border: 2px solid rgba(255, 255, 255, 0.445);
  border-radius: 4px;
  padding: 5px;
  font-size: 70px;
  margin: 10px auto;
}
.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.test {
  border: 4px solid rgba(228, 228, 132, 0.397);
}
.test2 {
  border: 4px solid red;
}
.navitem:hover {
  background-color: rgba(245, 245, 245, 0.26);
}
main h3:hover {
  background-color: rgba(245, 245, 245, 0.26);
}

/* project page------------------------------------------------------------------------------------ */

.projectmain {
  height: 93vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}
.projectsdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.123);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}
.projectsdiv:hover {
  background-color: rgba(255, 255, 255, 0.158);
}
.myproject {
  /* font-family: 'Lobster', cursive; */
}
.projectsdiv h3 {
  margin: 4px auto;
}
.projectsdiv p {
  margin: 0 auto;
  text-align: center;
  /* color: black; */
}
.projectsdiv1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}
.projectsdiv1:hover {
  background-color: none;
}
.projectpng {
  width: 20vw;
  height: 175px;
  border: 2px solid rgba(255, 255, 255, 0.363);
  border-radius: 5px;
}

/* projectdivExpand--------------------------------------------------------------------- */
.projectdivExpand {
  background-color: rgba(255, 255, 255, 0.021);
  height: 93vh;
  width: 100%;
}
.projectdiv2Expand {=
  justify-content: space-around;
  align-items: center;
  /* margin-top: 60px; */
}
.insideprojectdiv {
  height: 70vh;
  width: 40vw;
}
.insideprojectdiv p {
  text-align: left;
}
.insideprojectdiv h2 {
  text-align: left;
}
.backtoprojectdiv {
  color: rgb(250, 250, 250);
  background-color: rgba(37, 37, 37, 0.644);
  border: 1px solid rgba(255, 255, 255, 0.459);
  border-radius: 5px;
  height: 30px;
  font-size: 15px;
}

.backtoprojectdiv:hover{
  background-color:  rgba(119, 119, 119, 0.644);
}

.projectdiv2{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)
  ),url("./img/cookingpapa.png");
  
}
.projectdiv2:hover{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ),url("./img/cookingpapa.png");
}

.projectdiv3{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)
  ),url("./img/tictactoe.png");
}
.projectdiv3:hover{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ),url("./img/tictactoe.png");
}

.projectdiv4{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)
  ),url("./img/soccerapi.png");
}
.projectdiv4:hover{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ),url("./img/soccerapi.png");
}

.projectdiv5{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)
  ),url("./img/animeme.png");
}
.projectdiv5:hover{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ),url("./img/animeme.png");
}

.projectdiv6{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)
  ),url("./img/smartinv.png");
}
.projectdiv6:hover{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ),url("./img/smartinv.png");
}

.insideprojectdivExpandleft{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.insideprojectdivExpandright{
  padding: 30px;
  /* width: 40vw; */
}

.projectllong{
  height: 40vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
  width: 35vw;
}

/* resume page --------------------------------------------------------------------------------------------- */

.resumemain {
  height: 93vh;
  width: 100%;
  justify-content: center;
  background-image: url("./img/ResumeWidth.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(69, 69, 70, 0.171);
  /* background-color: rgba(240, 248, 255, 0.932); */
}
.insideresume {
  height: 80vh;
  width: 35vw;
}
.insideresumeleft {
  justify-content: flex-start;
}

.insideresumeright {
  justify-content: space-around;
}

.workingExperience {
  width: 30vw;
  /* height: 35vh; */
}

.workingExperience h3 {
  margin-bottom: 5px;
}

.educationHistory {
  width: 30vw;
  /* height: 30vh; */
}

.educationHistory h3 {
  margin-bottom: 5px;
}

.selfintro {
  width: 30vw;
}

.skillarea {
  width: 30vw;
  margin-top: 30px;
  /* background: rgba(255, 255, 255, 0.205); */
}

.skillarea h3 {
  /* color: rgba(0, 0, 0, 0.747); */
}

.skillarea li {
  margin: 15px 0px;
}

.bar {
  background: rgba(122, 122, 122, 0.151);
  display: block;
  height: 6px;
  /* border: 1px solid white; */
  border-radius: 5px;
  overflow: hidden;
}

.bar span {
  height: 6px;
  float: left;
  background: rgba(255, 255, 255, 0.603);
}

.top0 {
  margin-top: 0px;
}

/* //contact page----------------------------------------------------------- */
.contactmain {
  height: 93vh;
  width: 100%;
}

.iconarea{
  width: 400px;
  justify-content: space-around;
}

.icon{
  height: 50px;
  width: 50px;
  /* background-color: beige; */
}

.githubicon{
  background-image: url(./img/github.jpg);
  background-size: cover;
}

.linkdinicon{
  background-image: url(./img/linkdin.png);
  background-size: cover;
}

.gmailicon{
  background-image: url(./img/gmail.png);
  background-size: cover;
}

.meicon{
  background-image: url(./img/medium.jpg);
  border: 2px solid rgba(255, 255, 255, 0.404);
  background-size: cover;
  border-radius: 40px;
}

.bounce {
  display: inline-block;
  position: relative;
  animation: bounce 0.3s linear ;
  colr:000;
}

#moreaboutbtn{
  background: rgba(138, 138, 138, 0.144);
  padding: 5px;
  border-radius: 5px;
  /* margin: 0px; */
}

#moreaboutbtn:hover{
  /* background: rgba(138, 138, 138, 0.466); */
  box-shadow: 0px 0px 8px 7px #8888889d;
}

.dropbtn {
  background-image: url("./img/menu.png");
  background-color: rgb(182, 182, 182);
  background-size: contain;
  width: 43px;
  height: 43px;
  margin-right: 10px;
  /* color: white; */
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  right: 0;
  position: absolute;
  background-color: #f9f9f9b7;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #f1f1f1c7;
}



/* About me page=================================== */
.aboutmemain {
  min-height: 93vh;;
  width: 100%;
}

.aboutmetop{
  margin-top: 20px;
}

.headshot{
  width: 180px;
  height: 180px;
  background-color: #bbb;
  border-radius: 50%;
  background-image: url(./img/headshot.png);
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, 0.246);
}

.question{
  border: 1px solid white;
  border-radius: 10px;
  width: 400px;
}

.answer{
 width: 70vw;
}

.answer h4{
  text-align: center;
}

.answer p{
  /* text-align: left; */
  text-align: justify;
}

.qanda{
  /* padding: 20px; */
  width: 70vw;
}

/* .aboutmetop{
  margin-bottom: 30px;
} */




@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.6em; }
    70% { top: -0.8em; }
    100% { top: 0; }
}

@media only screen and (max-width: 800px) {
  .sign {
    left: 2vw;
    top: 40px;
    width: 80px;
    /* margin: 43px 60px; */
  }
  .undersign{
    left: 2vw;
    top: 75px;
    font-size: 7px;
  }

  .resumemain {
    background-image: url("./img/ResumeStright.png");
  }
}




@media only screen and (max-width: 630px) {

  .nav{
    width: 100vw;
    justify-content: flex-end;
  }

  .nav-baritem{
    display: none;
  }


  .dropdown{
    display: inline-block;
  }

  .navitem{
    margin: 0px;
    min-width: 50px;;
  }

  .projectmain{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .projectsdiv1 h1{
    font-size: 17px;
  }
  .projectsdiv1 p{
    width: 170px;
    font-size: 12px;
  }

  .projectsdiv p{
    font-size: 12px;
  }
.projectdivExpand{
  flex-direction: column;
}

.insideprojectdiv{
  width: 80vw;
}
.insideprojectdivExpandleft{
  background-position: bottom;
}

.iconarea{
  width: 300px;
}

.projectllong{
  width: 70vw;
}



}



.hidden {
  display: none;
}
